:root{
  --white: #ffff;
  --font-color: black;
}

body{
  background-image: linear-gradient(90deg,#fda085,#f6d365);
	font-family: 'Open Sans', sans-serif;
	color: var(--font-color);
	min-height: 90vh;
  box-sizing: border-box;
}

header{
    color: var(--white);
    font-size: 1.5rem;
}

main, header{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 10vh;
}

.todo-inputs, .task-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem auto;
}

#task{
    font-size: 1.5rem;
    width: 500px;
    height: 45px;
    background-color: var(--white);
    border: none;
    margin-right: 5px;
}
  
#send{
    height: 47px;
    width: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
    color: #f27c5b;
    background-color: var(--white);
    border: none;
}

#send i{
  font-size: 30px;
}

#send:hover{
  background: #fda085;
	color: var(--white)
}

.task-container{
  list-style: none;
  font-size: 1.4rem;
  display: flex;
	justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  max-width: 1200px;
  width: 600px;
  max-height: 80px;
}

.task-container li{
  flex: 1;
  padding: 0rem 1rem;
  background-color: var(--white);
  display: flex;
	justify-content: space-between;
  align-items: center;
  height: 60px;
}

#checkbox{
  transform: scale(2);
}
  
.btnDelete{
  background-color: #fd0019;
  font-size: 1.5rem;
  color: white;
  border: 1px solid #fd0019;
  height: 60px;
  width: 60px;
  min-width: 60px;
  cursor: pointer;
}

#checkbox:checked + li{
  color: #6c6c6c;
  text-decoration: line-through;
}

#btndelete{
  display: none;
}

@media (max-width: 700px){
  header{
    font-size: 1rem;
  }
  .task-container, .todo-inputs, #task{
    width: 500px;
    font-size: 1.1rem;
  }
}
@media (max-width: 600px){
  .task-container{
    width: 400px;
    font-size: 1.2rem;
  }
  #task{
    width: 400px;
  }
}
@media (max-width: 500px){
  .task-container{
    width: 300px;
    height: 80px;
    font-size: 1.2rem;
  }
  #task{
    width: 300px;
  }
  .btnDelete{
    height: 80px;
    font-size: 30px;
  }
  .task-container li{
    height: 80px;
  }
}
@media (max-width: 400px){
  .task-container{
    width: 300px;
    height: 80px;
    font-size: 1.2rem;
  }
  .task-container li{
    position: relative;
    right: 25px;
  }
  #task{
    width: 250px;
  }
  .btnDelete{
    height: 80px;
    background-color: var(--white);
    color: #fd0019;;
    border: none;
    font-size: 2rem;
  }
  #checkbox{
    transform: scale(1.2);
    position: relative;
    right: 25px;
  }
}
